<section id="tasks">
  <header>
    <h1>Tasks</h1>
  </header>
  <section class="body">
    <table data-class="items root">
      <tr data-class="task">
        <td>
          <input type="checkbox" data-class="taskCheckbox">
        </td>
        <td>
          <label data-class="taskDescription"></label>
          <input type="text" data-class="editTaskDescription" />
        </td>
        <td>
          <a href="#" data-class="editTask">Edit</a>
          <a href="#" data-class="saveTask">Save</a>
          <a href="#" data-class="cancelEditTask">Cancel</a>
        </td>
      </tr>
    </table>
    <a href="" data-class="addTask">Add Task</a>
  </section>
</section>