<section id="tasks" class="well">
  <header>
    <h1>Tasks</h1>
  </header>
  <section class="body">
    <div data-class="items root">
      <div data-class="task">
        <label class="checkbox">
          <input type="checkbox" data-class="taskCheckbox">
          <input type="text" data-class="editTaskDescription" />
          <span data-class="taskDescription"></span>
          <a href="#" data-class="editTask">Edit</a>
          <a href="#" data-class="saveTask">Save</a>
          <a href="#" data-class="cancelEditTask">Cancel</a>
        </label>
      </div>
    </div>
    <a href="" data-class="addTask">Add Task</a>
  </section>
</section>