<div class="content">
  <div class="row-fluid">
    <div class="span8">      
      <%= raw RDiscount.new(File.read(Rails.root + "README.md")).to_html %>
    </div>
    <div class="span4">
      <h3>See This Example!</h3>
      <div class="tasks-wrapper">
        <!-- Filled by Javascript -->
      </div>
      <p><small>* And that's about 140 lines of CoffeeScript. And this is all it took to add it to the page:</small></p>
      <pre>
$ -> 
  $.get "/tasks.json", (tasks) ->
    viewModel = new TasksViewModel(tasks)
    viewModel.bootstrap(".tasks-wrapper")
      </pre>

      <p><small>And in Javascript:</small></p>
      <pre>
$(function() {
  return $.get("/tasks.json", function(tasks) {
    var viewModel;
    viewModel = new TasksViewModel(tasks);
    return viewModel.bootstrap(".tasks-wrapper");
  });
});      
      </pre>

    </div>
  </div>
</div>
